@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@font-face {
  font-family: SF-Bold;
  src: url('./SF-Pro-Display-Bold.otf')
}

@font-face {
  font-family: SF-Medium;
  src: url('./SF-Pro-Display-Medium.otf')
}

@font-face {
  font-family: PS-Bold;
  src: url('./Product-Sans-Bold.ttf')
}

* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(#7394DE, #79A7FF);
}
.app {
  margin: 16px;
}

h4 {
  font-family: PS-Bold;
  color: #fff;
  font-size: 16px;
}

.section {
  margin-top: 28px;
}

.guides {
  margin-top: 4px;
  border-radius: 8px;
  background-color: white;
}

.guide {
  display: flex;
}

.guide:not(:last-child) {
  border-bottom: 1px solid #E6E6E6;
}

.guide .separator {
  width: 1px;
  background-color: #E6E6E6;
}

.guide h5 {
  font-family: SF-Medium;
  font-weight: 500;
  font-size: 16px;
  color: #4E4E4E;
}

.guide p {
  font-weight: 500;
  font-size: 11px;
  color: #A0A0A0;
  font-family: SF-Medium;
}

.guide .iconContainer {
  display: flex;
  padding: 12px;
}

.guide .iconContainer .icon {
  width: 24px;
  height: 24px;
}

.guide .titleContainer {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}