.guideContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.guideContainer .header {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.guideContainer .header .title {
    font-family: SF-Bold;
    font-size: 16px;
    color: #EFEFEF;
}

.guideContainer .header .icon {
    height: 21px;
    margin-right: 12px;
}

.guideContainer .main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guideContainer .main .card {
    background-color: #fff;
    border-radius: 8px;
    min-width: 50%;
    padding: 16px;
}

.guideContainer .main .card .subtitle {
    text-align: center;
    font-family: SF-Medium;
    font-size: 14px;
    color: #8E8E8E;
}

.guideContainer .main .card .title {
    text-align: center;
    font-family: SF-Medium;
    font-size: 22px;
}

.guideContainer .main .card .image {
    text-align: center;
    margin-top: 8px;
    max-width: 80vw;
}

.guideContainer .actions {
    flex: 0 1 auto;
    display: flex;
    margin: 0 16px 24px 16px;
    background-color: #FAFAFA;
    border-radius: 8px;
}

.guideContainer .actions .separator {
    width: 1px;
    background-color: rgb(231, 231, 231);
}

.guideContainer .action {
    flex: 1;
    font-family: SF-Bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 16px 0;
    
    color: #28292B;
}

.guideContainer .action.main {
    color: #3E79FF;
}
.guideContainer .action.disabled {
    color: #BABABA;
}